body {
    background: #027058;
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

h1 {
    font-size: 28px;
}

h1 {
    color: #563D64;
}

small {
    font-size: 10px;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.clearfix:after,
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    margin: 25px auto;
    position: relative;
    width: 900px;
}

#content {
    background: #f9f9f9;
    background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
}

#content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

#content form {
    margin: 0 20px;
    position: relative
}

#content form input[type="email"],
#content form input[type="password"] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    transition: all 0.5s ease;
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 20px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}

#content form input[type="email"]:focus,
#content form input[type="password"]:focus {
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

#adminEmail {
    background-position: 10px 10px !important
}

#adminPass {
    background-position: 10px -53px !important
}

#content form input[type="submit"] {
    background: rgb(254, 231, 154);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border-radius: 5px;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}

#content form input[type="submit"]:hover {
    background: rgb(254, 193, 81);
    background: linear-gradient(top, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
}

.button {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
}

.button a {
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
}

.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}